<h3>Crie sua Conta</h3>
<div class="card">
  <div class="card-body">
    <form action="" class="blogapp-form" method="post">
      <div>
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" class="form-control">
      </div>
      <div>
        <label for="email">Email: </label>
        <input type="text" name="email" id="email" class="form-control">
      </div>
      <div>
        <label for="senha">Senha: </label>
        <input type="password" name="senha" id="senha" class="form-control">
      </div>
      <div>
        <label for="senha2">Confirmar senha: </label>
        <input type="password" name="senha2" id="senha2" class="form-control">
      </div>
      <button type="submit" class="btn btn-success blogapp-btn">
        Criar Conta
      </button>
    </form>
  </div>
</div>
{{#each erros}}
  <div class='alert alert-danger mt-4'>{{text}}</div>
{{else}}

{{/each}}